RawData/gencode.v21.chr_patch_hapl_scaff.annotation.gtf
RawData/kallisto_index.idx
RawData/transcriptome.fasta
RawData/atlas.clusters.2.0.GRCh38.96.bed.gz
RawData/polyA_atlas_cluster_GRCh38_96.bed
RawData/hg38_liftover+new_CAGE_peaks_phase1and2.bed.gz
RawData/atlas.clusters.2.0.GRCh38.96.bed
RawData/reference_gtf.bed
RawData/transcripts_prot_coding.tsv.txt

RawData/hisat2_index/GRCh38.genome.1.ht2
RawData/hisat2_index/GRCh38.genome.2.ht2
RawData/hisat2_index/GRCh38.genome.3.ht2
RawData/hisat2_index/GRCh38.genome.4.ht2
RawData/hisat2_index/GRCh38.genome.5.ht2
RawData/hisat2_index/GRCh38.genome.6.ht2
RawData/hisat2_index/GRCh38.genome.7.ht2
RawData/hisat2_index/GRCh38.genome.8.ht2
RawData/hisat2_index/GRCh38.genome.fa
RawData/hisat2_index/GRCh38.genome.fa.fai

RawData/Reads/1_1_L3_R1_001_ij43KLkHk1vK.fastq.gz
RawData/Reads/1_1_L3_R2_001_qyjToP2TB6N7.fastq.gz
RawData/Reads/1_2_L3_R1_001_DnNWKUYhfc9S.fastq.gz
RawData/Reads/1_2_L3_R2_001_SNLaVsTQ6pwl.fastq.gz
RawData/Reads/1_5_L3_R1_001_iXvvRzwmFxF3.fastq.gz
RawData/Reads/1_5_L3_R2_001_iXCMrktKyEh0.fastq.gz
RawData/Reads/P1_L3_R1_001_9L0tZ86sF4p8.fastq.gz
RawData/Reads/P1_L3_R2_001_yd9NfV9WdvvL.fastq.gz
RawData/Reads/P2_L3_R1_001_R82RphLQ2938.fastq.gz
RawData/Reads/P2_L3_R2_001_06FRMIIGwpH6.fastq.gz
RawData/Reads/P3_L3_R1_001_fjv6hlbFgCST.fastq.gz
RawData/Reads/P3_L3_R2_001_xo7RBLLYYqeu.fastq.gz

1_QC/1_1_L3_R1_001_ij43KLkHk1vK_fastqc.zip
1_QC/1_1_L3_R2_001_qyjToP2TB6N7_fastqc.zip
1_QC/1_2_L3_R1_001_DnNWKUYhfc9S_fastqc.zip
1_QC/1_2_L3_R2_001_SNLaVsTQ6pwl_fastqc.zip
1_QC/1_5_L3_R1_001_iXvvRzwmFxF3_fastqc.zip
1_QC/1_5_L3_R2_001_iXCMrktKyEh0_fastqc.zip
1_QC/P1_L3_R1_001_9L0tZ86sF4p8_fastqc.zip
1_QC/P1_L3_R2_001_yd9NfV9WdvvL_fastqc.zip
1_QC/P2_L3_R1_001_R82RphLQ2938_fastqc.zip
1_QC/P2_L3_R2_001_06FRMIIGwpH6_fastqc.zip
1_QC/P3_L3_R1_001_fjv6hlbFgCST_fastqc.zip
1_QC/P3_L3_R2_001_xo7RBLLYYqeu_fastqc.zip

2_Mapping/1_1/1_1_hisat2.sam
2_Mapping/1_1/1_1_sorted.bam.bai
2_Mapping/1_1/1_1_unsorted.bam
2_Mapping/1_1/1_1_sorted.bam
2_Mapping/1_2/1_2_hisat2.sam
2_Mapping/1_2/1_2_sorted.bam
2_Mapping/1_2/1_2_sorted.bam.bai
2_Mapping/1_2/1_2_unsorted.bam
2_Mapping/1_5/1_5_hisat2.sam
2_Mapping/1_5/1_5_sorted.bam
2_Mapping/1_5/1_5_sorted.bam.bai
2_Mapping/1_5/1_5_unsorted.bam
2_Mapping/P1/P1_hisat2.sam
2_Mapping/P1/P1_sorted.bam
2_Mapping/P1/P1_sorted.bam.bai
2_Mapping/P1/P1_unsorted.bam
2_Mapping/P2/P2_hisat2.sam
2_Mapping/P2/P2_sorted.bam
2_Mapping/P2/P2_sorted.bam.bai
2_Mapping/P2/P2_unsorted.bam
2_Mapping/P3/P3_hisat2.sam
2_Mapping/P3/P3_sorted.bam
2_Mapping/P3/P3_sorted.bam.bai
2_Mapping/P3/P3_unsorted.bam

3_Assembly/1_1.gtf
3_Assembly/1_2.gtf
3_Assembly/1_5.gtf
3_Assembly/P1.gtf
3_Assembly/P2.gtf
3_Assembly/P3.gtf
3_Assembly/stringtie_merged.gtf

4_Quantification/1_1/abundance.h5
4_Quantification/1_1/abundance.tsv
4_Quantification/1_1/run_info.json
4_Quantification/1_2/abundance.h5
4_Quantification/1_2/abundance.tsv
4_Quantification/1_2/run_info.json
4_Quantification/1_5/run_info.json
4_Quantification/1_5/abundance.h5
4_Quantification/1_5/abundance.tsv
4_Quantification/P1/abundance.h5
4_Quantification/P1/abundance.tsv
4_Quantification/P1/run_info.json
4_Quantification/P2/abundance.h5
4_Quantification/P2/abundance.tsv
4_Quantification/P2/run_info.json
4_Quantification/P3/abundance.h5
4_Quantification/P3/abundance.tsv
4_Quantification/P3/run_info.json

5_Differential_Expression/so_gene
5_Differential_Expression/so_transcript

6_Integrative_Analysis/stringtie_merged_polyA.bed
6_Integrative_Analysis/stringtie_merged_TSS.bed
6_Integrative_Analysis/stringtie_merged.bed
