2_Mapping_Results/1_1/1_1_hisat2.sam
2_Mapping_Results/1_1/1_1_sorted.bam
2_Mapping_Results/1_1/1_1_sorted.bam.bai
2_Mapping_Results/1_1/1_1_unsorted.bam
2_Mapping_Results/1_2/1_2_hisat2.sam
2_Mapping_Results/1_2/1_2_sorted.bam
2_Mapping_Results/1_2/1_2_sorted.bam.bai
2_Mapping_Results/1_2/1_2_unsorted.bam
2_Mapping_Results/1_5/1_5_hisat2.sam
2_Mapping_Results/1_5/1_5_sorted.bam
2_Mapping_Results/1_5/1_5_sorted.bam.bai
2_Mapping_Results/1_5/1_5_unsorted.bam
2_Mapping_Results/P1/P1_hisat2.sam
2_Mapping_Results/P1/P1_sorted.bam
2_Mapping_Results/P1/P1_sorted.bam.bai
2_Mapping_Results/P1/P1_unsorted.bam
2_Mapping_Results/P2/P2_hisat2.sam
2_Mapping_Results/P2/P2_sorted.bam
2_Mapping_Results/P2/P2_sorted.bam.bai
2_Mapping_Results/P2/P2_unsorted.bam
2_Mapping_Results/P3/P3_hisat2.sam
2_Mapping_Results/P3/P3_sorted.bam
2_Mapping_Results/P3/P3_sorted.bam.bai
2_Mapping_Results/P3/P3_unsorted.bam

3_2_StringTie_Results/1_1.gtf
3_2_StringTie_Results/1_2.gtf
3_2_StringTie_Results/1_5.gtf
3_2_StringTie_Results/P1.gtf
3_2_StringTie_Results/P2.gtf
3_2_StringTie_Results/P3.gtf
3_2_StringTie_Results/stringtie_merged.gtf

4_Kallisto_Results/kallisto_index.idx
4_Kallisto_Results/1_1/abundance.h5
4_Kallisto_Results/1_1/abundance.tsv
4_Kallisto_Results/1_1/run_info.json
4_Kallisto_Results/1_2/abundance.h5
4_Kallisto_Results/1_2/abundance.tsv
4_Kallisto_Results/1_2/run_info.json
4_Kallisto_Results/1_5/abundance.h5
4_Kallisto_Results/1_5/abundance.tsv
4_Kallisto_Results/1_5/run_info.json
4_Kallisto_Results/P1/abundance.h5
4_Kallisto_Results/P1/abundance.tsv
4_Kallisto_Results/P1/run_info.json
4_Kallisto_Results/P2/abundance.h5
4_Kallisto_Results/P2/abundance.tsv
4_Kallisto_Results/P2/run_info.json
4_Kallisto_Results/P3/abundance.h5
4_Kallisto_Results/P3/abundance.tsv
4_Kallisto_Results/P3/run_info.json

RawData/transcriptome.fasta
RawData/hg38_GENCODE.v38.bed

5_Sleuth_Results/so_gene
5_Sleuth_Results/so_transcript
